*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(100deg,#FF8C00,#FFD700 140%);
}
.app-clima {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;   
}
.header {
    font-size: 19px;
    color: white;
    padding-top: 20px;
    height: 70px;
    width: 470px;
    border: 30px;
    text-align: center; 
    position: relative; 
}
.detalhe-clima{
    display: flex;
    background-color: #FFF3E4;
    box-shadow: 0 6px 6px rgba(80, 78, 97, 0.089), 0 6px 6px rgba(2, 9, 71, 0.233);
    width: 470px;
    height: 285px;
    margin-bottom: 20px;
    margin-top: 13px;
    flex-direction: column;
    left: 29%;
    padding-left: 45px;
}
.nome-cidade{
    font-size: 14px;
    position: relative;
    top: 2%;
    color: rgba(0, 0, 0, 0.726);
    font-weight: bold;
}
.arrow{
    color: #FF8C00;
}
.detalhe-temperatura{
    display: flex;
    flex-direction: row;
    border-left: 10px;
}
.temperatura-baixa{
    display: flex;
    flex-basis: 100%;
    flex: 1;
}

.color{
    color: rgba(0, 0, 0, 0.555);
}
.temperatura-alta{
    display: flex;
    flex-basis: 100%;
    flex: 4.6;
}

.detalhe-vento-humidade{
    display: flex;
    flex-direction: row;
    border-left: 10px;
}
.humidade{
    padding-left: 8%;
    padding-bottom: 4%;
    
}
.temperatura-sensacao{
    position: relative;
    right: 43%;
    padding-bottom: 6%;
}

.temperatura-valor{
    color:rgba(0, 0, 0, 0.664);
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 15px;
}
.btn-close{
    max-width: 100%;
    position: relative;
    text-align: center;
    color: #FF8C00;
    font-size: 30px;
    font-weight: bolder;
    left: calc(100% - 170px);
}
.valor-humidade{
    font-weight: bold;
    color:rgba(0, 0, 0, 0.719);
}
.linha-detalhe{
    position: relative;
    right: 7%;
    width: 100%;
    border-top: 1px solid #FF8C00;
}
.container-input{
    width: 470px;
    height: 50px;
    margin-bottom: 15px;
    position: relative;  
}
.input-pesquisa-cidade{
    padding: 10px;
    border: none;
    background: white;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 20px;
    position: relative;
} 
.button-pesquisa-cidade{
    position: absolute;
    text-align: center;
    color:rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 50px;
    padding: 10px;
    left: 410px;
    z-index: 20;
}
.capitais-titulo{
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative;
    padding-bottom: 30px;
    right: 20px;
    top: 35px;
    
}
.container-tabela-capitais{
    display: flex;
    position: relative;
    margin: 15px;
    justify-content: space-between;
    flex-basis: 100%;
    right: 43px;
}
.dias-semana td {
   padding-bottom: 10px;
   padding-left: 5px;
   font-weight: bold;
   text-align: left;
}
.dias-semana th {
   padding: 10px;
   text-align: center;
   font-weight: normal;
}
.linha-tabela{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.graus-temperatura{
    font-size: 16px;
    color: #FF8C00;
}     
.dias-semana1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.788);
}
.graus-sabado{
    padding-left: 3px;
}
.dias-semana{
    font-weight: bold;
    padding-left: 20px;
}
.linha{
    display: flex;
    position: relative;
    width: 140%;
    border-top: 1px solid white;
    align-items: center;
    right: 70px;
    top: 20px;
}
.bold{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733)
}
 /* @media (max-width :600px){

    .oculta{
        display: none;
    
      }
}  */