*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(193deg,#FF8C00,#FFD700 140%);
}
.app-clima {
    width: 100vW;
    height: 100vh;
    margin: auto;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.header {
    font-size: 19px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 20%;   
}
.detalhe-clima{
    width: 32%;
    height: 30%;
    background-color: #f4f0ec;
    position: relative; 
    left: 34%;
    bottom: 18%;
    padding-left: 35px;
}
.nome-cidade{
    font-size: 12px;
    position: relative;
    top: 2%;
    color: rgba(0, 0, 0, 0.945);
}
.arrow{
    color: #FF8C00;
}
.detalhe-temperatura2{
    display: flex;
    flex-direction: row;
    width: 30%;

}
.temperatura-baixa{
    display: flex;
    flex-basis: 100%;
    flex: 1;
}
.temperatura-alta{
    display: flex;
    flex-basis: 100%;
    flex: 1;
}
.temperatura-sensacao{
    position: relative;
    
    
}
.detalhe-vento-umidade{
    display: flex;
    flex-direction: row;
    width: 2%;
}
.temperatura-valor{
    color:rgba(0, 0, 0, 0.664);
    font-size: 40px;
    padding-top: 5%;
}
.btn-close{
    position: relative;
    /* padding-left: 65%;
    top: 12px; */
    color: #FF8C00;
}
.input-pesquisa-cidade{
    text-align: left;
    border: none;
    padding: 10px;
    position: relative;
    width: 32%;
    height: 42px;
    font-size: 18px;
    align-items: center;
    left: 34%;
    bottom: 8%;
}
.button-pesquisa-cidade{
    border: none;
    position: relative;
    width: 0%;
    height: 42px;
    left: 31%;
    color: rgba(0, 0, 0, 0.658);
}
.capitais-titulo{
    font-size: 20px;
    color: white;
    text-align: center;
    position: relative;
    top: -1.9%;   
    right: 10%;
}
.cabecalho-capitais{
    position: relative;
    right: 7%;
    color: rgba(0, 0, 0, 0.719);
    font-size: 12px;
}
.container-tabela-capitais{
    margin: 15px;
    position: relative;
}
.linha-tabela{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.coluna-tabela1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.coluna-tabela2{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}      
.graus-temperatura{
    color: #FF8C00;
}     
.dias-semana1{
    padding: 10px;
}