*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(100deg,#FF8C00,#FFD700 140%);
}
.app-clima {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;   
}
.header {
    font-size: 19px;
    color: white;
    padding-top: 20px;
    height: 70px;
    width: 470px;
    border: 30px;
    text-align: center; 
    position: relative; 
}
.detalhe-clima{
    display: flex;
    background-color: #FFF3E4;
    box-shadow: 0 6px 6px rgba(80, 78, 97, 0.089), 0 6px 6px rgba(2, 9, 71, 0.233);
    width: 470px;
    height: 285px;
    margin-bottom: 20px;
    margin-top: 13px;
    flex-direction: column;
    left: 29%;   
}
/* .padding{
    padding-left: 30px;
} */
.nome-cidade{
    font-size: 18px;
    font-weight: bolder;
    position: relative;
    color: rgba(0, 0, 0, 0.726);
    padding-left: 30px;
}
.temperatura-valor{
    color:rgba(0, 0, 0, 0.664);
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 15px;
    padding-left: 30px;
}
.btn-close{
    max-width: 100%;
    position: relative;
    text-align: center;
    color: #FF8C00;
    font-size: 30px;
    font-weight: bolder;
    left: calc(100% - 210px);
    top: 10px;
}
.detalhe-temperatura{
    display: flex;
    flex-direction: row;   
    align-items: center;
    padding-bottom: 10px;
    padding-left: 26px;
    
}
.temperatura-baixa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperatura-alta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    color: #FF8C00;
}
.material-icons.md-36 {
    font-size: 36px;
}
.temperatura-sensacao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
}
.detalhe-vento-humidade{
    display: flex;
    flex-direction: row;
    border-left: 10px;
    padding-left: 30px;
}
.humidade{
    padding-left: 9%;
    padding-bottom: 3%;
}
.valor-humidade{
    font-weight: bold;
    color:rgba(0, 0, 0, 0.719);
}
.color{
    color: rgba(0, 0, 0, 0.555);
} 
.linha-detalhe{
    position: relative;
    width: 100%;
    border-top: 1px solid #FF8C00;
}
.conteiner-semana{
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 18;
    padding-right: 10px;
}
.dias-semana{
    width: 100%;
}
.dias-semana td {
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
}
.dias-semana th {
    padding: 10px;
    text-align: center;
    font-weight: normal;
}
.container-input{
    width: 470px;
    height: 50px;
    margin-bottom: 15px;
    position: relative;  
}
.input-pesquisa-cidade{
    padding: 10px;
    border: none;
    background: white;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 20px;
    position: relative;
} 
.button-pesquisa-cidade{
    position: absolute;
    text-align: center;
    color:rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 50px;
    padding: 10px;
    left: 410px;
    z-index: 20;
}
.linha{
    display: flex;
    position: relative;
    width: 140%;
    border-top: 1px solid white;
    align-items: center;
    right: 70px;
    top: 20px;
}
.capitais-titulo{
    position: relative;
    font-size: 25px;
    color: #fff;
    padding-left: 5px;
    padding-top: 40px;
}
.container-tabela-capitais{
    display: flex;
    position: relative;
    margin: 15px;
    justify-content: space-between;
    flex-basis: 100%;
    right: 43px;
}
.linha-tabela{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.coluna-tabela1{
    display: flex;
    padding-left: 25px;
}
.coluna-tabela2{
    display: flex;
    padding-left: 25px;
}
.graus-temperatura{
    font-size: 16px;
    color: #FF8C00;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
}     
.graus-temperatura td {
    color:#FF8C00 ;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
}
.bold{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733)
}
@media (max-width :600px){
    .header{
        font-size: 15px;
        color: white;
        height: 60px;
        width: 400px;
        border: 20px;
        right: 10%;
        text-align: center; 
        position: relative; 
    }
    .oculta{
        display: none;
    }
    .detalhe-clima{
        display: flex;
        background-color: #FFF3E4;
        box-shadow: 0 6px 6px rgba(80, 78, 97, 0.089), 0 6px 6px rgba(2, 9, 71, 0.233);
        width: 100%;
        height: 285px;
        margin-bottom: 20px;
        margin-top: 13px;
        flex-direction: column;
        left: 29%;
    }
    .temperatura-valor{
        display: flex;
        color: #585757;
        flex-direction: row;
        justify-content:left;
        font-size: 40px;
        font-weight: bolder;
    }
    .temperatura-sensacao{
        justify-content: center;
        align-items: center;
        padding-left: 11%;        
    }
    .descrisao-sensacao{
        font-size: 18px;
    }
    .min-max-semana{
        font-size: 15px;
    }
    .dias-semana th{
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.726);
    }
    .dias-semana thead{
        text-align: center;
        font-weight: bold;
        left: 20%;
    }
    .container-input{
        padding-top: 10px;
        width: calc(100% - 30px);
        height: 60px;
        position: relative;
        margin-bottom: 15px;
    }
    .input-pesquisa-cidade{
        padding: 10px;
        border: none;
        background: white;
        text-align: left;
        width: 100%;
        height: 100%;
        font-size: 20px;
        position: relative;
    } 
    .button-pesquisa-cidade{
        position: absolute;
        text-align: center;
        color:rgba(0, 0, 0, 0.658);
        height: 100%;
        padding: 5px;
        left: 86%;
        z-index: 20;
    }
    .container-input{
        width: 90%;
    }
    .linha{
        display: flex;
        position: relative;
        width: 100%;
        border-top: 1px solid white;
        align-items: center;
        right: 0px;
        top: 5px;
    }
    .capitais-titulo{
        position: relative;
        padding-left: 37px;
        padding-top: 20px;
    }
    .linha-tabela{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .coluna-tabela1{
        display: flex;
        padding-left: 25px;
    }
    .coluna-tabela2{
        display: flex;
        padding-left: 25px;
    }
    .linha-detalhe{
        position: relative;
        width: 100%;
        border-top: 1px solid #FF8C00;
    }
    .container-tabela-capitais td{
        position: relative;
        padding: 5px;
        left: 16%;
    }
    .container-tabela-capitais th{
        position: relative;
        padding: 1px;
        left: 15%;
        font-weight: normal;
    }

    @media (max-width: 320px){
        .header{
            font-size: 15px;
            color: white;
            height: 60px;
            width: 300px;
            border: 0px;
            right: 0%;
            text-align: center; 
            position: relative; 
        }
        .dias-semana th{
            font-size: 13px;
            padding-top: 10px;
            text-align: center;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.726);
        }
        .graus-temperatura td{
            font-size: 13px;
        }
        .dias-semana thead{
            text-align: center;
            font-weight: bold;
            left: 20%;
        }
        .material-icons.md-36 {
            font-size: 27px;
        }
        .button-pesquisa-cidade{
           padding-left: 15px;
           top: 17px;
        }       
    } 
}