*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(100deg,#FF8C00,#FFD700 140%);
}
.app-clima {
    display: flex;
    margin: auto;   
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}
.header {
    font-size: 19px;
    color: white;
    border: 30px;
    text-align: center; 
    position: relative; 
}
.detalhe-clima{
    background-color: #FFF3E4;
    box-shadow: 0 6px 6px rgba(13, 6, 97, 0.089), 0 6px 6px rgba(2, 9, 71, 0.233);
    width: 470px;
    height: 285px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
    flex-direction: column;
    left: 29%;
    padding-left: 45px;
    left: calc(10% - 1700px);
}
.nome-cidade{
    font-size: 14px;
    position: relative;
    top: 2%;
    color: rgba(0, 0, 0, 0.726);
    font-weight: bold;
}
.arrow{
    color: #FF8C00;
}
.detalhe-temperatura{
    display: flex;
    flex-direction: row;
    border-left: 10px;
}
.temperatura-baixa{
    display: flex;
    flex-basis: 100%;
    flex: 1;
}

.color{
    color: rgba(0, 0, 0, 0.555);
}
.temperatura-alta{
    display: flex;
    flex-basis: 100%;
    flex: 4.6;
}

.detalhe-vento-humidade{
    display: flex;
    flex-direction: row;
    border-left: 10px;
}
.humidade{
    padding-left: 8%;
    padding-bottom: 4%;
    
}
.temperatura-sensacao{
    position: relative;
    right: 43%;
    padding-bottom: 6%;
}

.temperatura-valor{
    color:rgba(0, 0, 0, 0.664);
    font-size: 50px;
    padding-top: 5%;
    padding-bottom: 15px;
}
.btn-close{
    max-width: 100%;
    position: relative;
    text-align: center;
    color: #FF8C00;
    font-size: 30px;
    font-weight: bolder;
    left: calc(100% - 170px);
}
.valor-humidade{
    font-weight: bold;
    color:rgba(0, 0, 0, 0.719);
}
.linha-detalhe{
    position: relative;
    right: 7%;
    width: 100%;
    border-top: 1px solid #FF8C00;
}
.input-pesquisa-cidade{
    text-align: left;
    padding: 10px;
    position: relative;
    width:  470px;
    height: 42px;
    font-size: 18px;
    align-items: center;
    bottom: 8%;
    border: none;
}
.button-pesquisa-cidade{
    border: none;
    position: relative;
    width: 0%;
    height: 42px;
    color: rgba(0, 0, 0, 0.658);
}
.capitais-titulo{
    font-size: 20px;
    color: white;
    text-align: left;
    position: relative;
    padding-left: 30px;
    
}
.cabecalho-capitais{
    position: relative;
    right: 7%;
    color: rgba(0, 0, 0, 0.719);
    font-size: 12px;
}
.container-tabela-capitais{
    margin: 15px;
    position: relative;
}
.linha-tabela{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}
.coluna-tabela1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.coluna-tabela2{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}      
.graus-temperatura{
    font-size: 16px;
    color: #FF8C00;
}     
.dias-semana1{
    padding: 10px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.788);
}
.dias-semana{
    font-weight: bold;
}
.linha{
    display: flex;
    position: relative;
    width: 112%;
    right: 9%;
    border-top: 1px solid white;
    align-items: center;
    top: 35px;
}
.bold{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.733)
}
.button-pesquisa-cidade{
    position: relative;
    right: 40px;
    top: 6px;
}
@media (max-width :600px){

      .oculta{
        display: none;
    }
}